__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.mp4
*.mov
*.avi
node_modules/
.git
.gitignore
*.md
.DS_Store
static/results/*
static/uploads/*
!static/results/.gitkeep
!static/uploads/.gitkeep

